In [8]:
import numpy as np
import  pandas as pd

In [9]:
data=pd.read_excel("Enveritas JDA Test Workbook and Instructions_EA.xlsx",  sheet_name="Task 3", header=2)
data.head()

,ID,Coffee Region,Supply Unit,Pruning techniques used,Use Disease Resistant Coffee Varieties,Use Organic Fertilizer,Intercrop food tree with coffee,Number of times farmer weeded in last year,Yield (kg/green) per hectare
0,1,Yirgachefe,dila_zuria1,NaN,no,Yes,yes,3,66.666600
1,2,Yirgachefe,dila_zuria1,NaN,no,Yes,yes,3,66.666400
2,3,Yirgachefe,dila_zuria1,branch_removal desuckering,no,Yes,yes,3,133.333200
3,4,Yirgachefe,dila_zuria1,NaN,no,Yes,yes,2,125.000000
4,5,Yirgachefe,dila_zuria1,branch_removal desuckering topping,yes,Yes,yes,3,277.777767

### Q1. Average Yield in the three regions

In [10]:
average_yield_per_region=data.groupby("Coffee Region")["Yield (kg/green) per hectare"].mean().reset_index()
average_yield_per_region

  Coffee Region  Yield (kg/green) per hectare
0         Limmu                    438.225049
1      Sidama B                    312.249534
2    Yirgachefe                    195.262077

### Q2.Farm management practices mostly used among farmers

##### i. Use of Disease Resistant Coffee Varieties

In [11]:
diseases_resistant_variety = data.groupby('Coffee Region')['Use Disease Resistant Coffee Varieties'].value_counts()
diseases_resistant_variety

Coffee Region  Use Disease Resistant Coffee Varieties
Limmu          no                                        539
               yes                                       133
               dont_know                                   3
Sidama B       no                                        604
               yes                                        64
               dont_know                                   1
Yirgachefe     no                                        543
               yes                                       135
               dont_know                                   7
Name: Use Disease Resistant Coffee Varieties, dtype: int64

##### ii. Use Organic Fertilizer

In [12]:
organic_fertilizer = data.groupby('Coffee Region')['Use Organic Fertilizer'].value_counts()
organic_fertilizer = pd.crosstab(data['Coffee Region'], data['Use Organic Fertilizer'])
organic_fertilizer

Use Organic Fertilizer   No  Yes
Coffee Region
Limmu                   591   84
Sidama B                 87  582
Yirgachefe               32  653

##### iii. Intercrop food tree with coffee

In [6]:
intercropping = data.groupby('Coffee Region')['Intercrop food tree with coffee'].value_counts()
intercropping = pd.crosstab(data['Coffee Region'], data['Intercrop food tree with coffee'])
intercropping

Intercrop food tree with coffee   no  yes
Coffee Region
Limmu                            539  136
Sidama B                          39  630
Yirgachefe                        40  645

#### iv. Number of times weeded in a year

In [13]:
intercropping = data.groupby('Coffee Region')['Number of times farmer weeded in last year'].value_counts()
intercropping = pd.crosstab(data['Coffee Region'], data['Number of times farmer weeded in last year'])
intercropping

Number of times farmer weeded in last year,0,1,2,3,4,5,6,7,8,15,53
Coffee Region,,,,,,,,,,,
Limmu,27,129,422,93,4,0,0,0,0,0,0
Sidama B,1,14,104,268,222,44,7,3,4,1,1
Yirgachefe,0,7,241,382,50,4,1,0,0,0,0

### Q3. Prunning techniques that are mostly used

In [7]:
prunning_techniques=data['Pruning techniques used'].value_counts().reset_index()
prunning_techniques

                                                index  Pruning techniques used
0                          branch_removal desuckering                      147
1                                             topping                      115
2                  branch_removal desuckering topping                       94
3        branch_removal desuckering selective_pruning                       52
4                                      branch_removal                       50
5                                         desuckering                       49
6                                 desuckering topping                       26
7         branch_removal desuckering topping skeletal                       26
8                    branch_removal selective_pruning                       13
9                              branch_removal topping                       12
10                branch_removal desuckering skeletal                        9
11              desuckering topping selective_pruning                        5
12  branch_removal desuckering selective_pruning s...                        5
13           branch_removal topping selective_pruning                        4
14                      desuckering selective_pruning                        4
15                               desuckering skeletal                        3
16  branch_removal desuckering topping selective_p...                        3
17                                  selective_pruning                        3
18             desuckering selective_pruning skeletal                        2
19  branch_removal desuckering selective_pruning s...                        1
20                branch_removal desuckering grafting                        1
21  branch_removal desuckering topping selective_p...                        1
22                    branch_removal topping skeletal                        1
23                                              other                        1